@mixin button {
    margin-top: 25px;
    padding: 5px;
    color: black;
    font-size: 1rem;
    background-color: #DDD0C8;
    border: 3.2px solid black;
    border-radius: 25px;
    text-transform: capitalize;
}