.div-6 {
    label {
        display: flex;
        flex-direction: column;
        color: #323232;
        font-size: 1rem;
    }

    a:nth-child(2) {
        @extend label;
    }
    
    a:nth-child(3) {
        @extend label;
    }
}