@mixin label-tienda {
    color: black;
    font-size: 1rem;
    padding-left: 10px;
    padding-bottom: 10px;
}

@mixin label-tienda-425 {
    color: black;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-bottom: 10px;
}

@mixin label-index {
    font-size: 1rem;
    color: black;
}

@mixin label-carrito {
    color: #323232;
    font-size: 1rem;
}

@mixin img-tienda-425 {
    width: 180px;
    height: auto;
    display: block;
    border-radius: 5px;
}

@mixin img-tienda-425-caja-productos {
    height: 120px;
    display: block;
    border-radius: 5px;
}

@mixin foto-button {
    padding: 4px;
    color: black;
    font-size: 1rem;
    background-color: #DDD0C8;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

@mixin button {
    margin-top: 25px;
    padding: 5px;
    color: black;
    font-size: 1rem;
    background-color: #DDD0C8;
    border: 3.2px solid black;
    border-radius: 25px;
    text-transform: capitalize;
}

@mixin h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
    max-width: 100%;
    overflow-wrap: break-word;
    color: black;
}

@mixin divs-tienda-container9 {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin imgs-tienda{
    max-width: 100%;
    height: 200px;
    display: block;
    border-radius: 5px;
}