@use "../../utilities/mixin" as *;
@use "../../utilities/variables" as *;
@use "../../base/reset" as *;
@use "../../layout/header" as *;
@use "../../layout/footer" as *;

@media (min-width: 1920px) and (max-width: 2559px) {
    body {
        @include header;

        .grid-container11 {
            width: 100%;
            max-width: 2559px;
            background-color: $color-fondo;
            padding-left: 10px;
            padding-bottom: 80px;
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "item-1 item-1"
                "item-2 item-3"
                "item-2 item-3"
            ;

            .div-1 {
                padding-top: 50px;
                grid-area: item-1;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                max-width: 100%;

                h2 {
                    font-size: 3rem;
                    line-height: 1.2;
                    margin: 0;
                    max-width: 100%;
                    overflow-wrap: break-word;
                    color: black;
                }
            }

            .div-2 {
                grid-area: item-2;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                max-width: 100%;

                form {
                    margin-top: -200px;
                }

                p {
                    margin-bottom: 525px;
                    font-size: 1.2rem;
                    line-height: 1.2;
                    max-width: 100%;
                    overflow-wrap: break-word;
                    color: black;
                }

                label {
                    margin-bottom: 10px;
                    font-size: 1rem;
                    color: black;
                }

                div {
                    margin-bottom: 10px;
                }

                .margen {
                    margin-bottom: 100px;
                }

                .area {
                    display: flex;

                    textarea {
                        padding-top: 60px;
                        margin-top: 0px;
                        margin-bottom: 15px;
                    }
                }

                form {
                    padding-bottom: 22px;
                }
            }

            .div-3 {
                max-width: 100%;
                grid-area: item-3;
                border-radius: 5px;
                display: flex;
                justify-content: center;


                video {
                    width: 700px;
                    height: auto;
                }
            }
        }


        @include footer;

        .footer-2 {
            display: none;
        }

    }
}