@use "../../utilities/mixin" as *;
@use "../../utilities/variables" as *;


@use "../../base/reset" as *;
@use "../../base/encabezado" as *;

@media (min-width: 375px) and (max-width: 424px) {

    body {

        main {

            .grid-container7 {
                width: 100%;
                max-width: 424px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, auto);
                grid-template-areas:
                    " item-1 "
                    " item-2 "
                    " item-3 "
                    " item-5 "
                    " item-6 "
                    " item-4 "
                ;

                .div-1 {
                    background-color: $color-fondo;
                    grid-area: item-1;
                    display: flex;
                    justify-content: center;

                    h2 {
                        margin-top: 25px;
                        margin-bottom: 25px;
                        justify-content: center;
                        font-size: 2.5rem;
                        line-height: 1.2;
                        max-width: 100%;
                        overflow-wrap: break-word;
                        color: black;
                    }
                }

                .div-2 {
                    background-color: $color-fondo;
                    padding-bottom: 15px;
                    grid-area: item-2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-bottom: 15px;
                        width: 150px;
                        height: auto;
                        max-width: 100%;
                        height: auto;
                        display: block;
                        border-radius: 5px;
                    }
                    label {
                        @include label-tienda-425;
                    }
                }

                .div-3 {
                    grid-area: item-3;
                    background-color: $color-fondo;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    label {
                        @include label-tienda-425;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                    }
                }

                .div-4 {
                    padding-bottom: 20px;
                    grid-area: item-4;
                    background-color: $color-fondo;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    label {
                        display: flex;
                        flex-direction: column;
                        @include label-tienda-425;
                    }

                    button {
                        margin-top: 20px;
                        @include foto-button;
                    }

                }

                .div-5 {
                    grid-area: item-5;
                    background-color: $color-fondo;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-bottom: 20px;
                        border-radius: 5px;
                        margin-top: 10px;
                        width: 150px;
                        height: auto;
                    }

                    label {
                        padding-top: 60px;
                        @include label-tienda-425;
                        font-weight: bolder;
                    }
                }

                .div-6 {
                    width: 100%;
                    max-width: 424px;
                    background-color: $color-fondo;
                    padding-bottom: 15px;
                    grid-area: item-6;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    justify-content: space-around;

                    label {
                        color: black;
                        font-size: 1.3rem;
                        padding-bottom: 10px;
                    }

                    img {
                        margin-bottom: 20px;
                        border-radius: 5px;
                        margin-top: 10px;
                        width: 150px;
                        height: auto;
                    }
                }
                
                .div-7 {
                    display: none;
                }

            }
        }

        .footer-1 {
            display: none;
        }

        .footer-2 {
            border-top: 1px solid black;
            padding-left: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: grey;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
        }

    }
}